@font-face {
  font-family: "Nasalization";
  src: url("../fonts/nasalization-rg.eot"); /* IE9 Compat Modes */
  src: url("../fonts/nasalization-rg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/nasalization-rg.otf") format("opentype"), /* Open Type Font */
  url("../fonts/nasalization-rg.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/nasalization-rg.woff") format("woff"), /* Modern Browsers */
  url("../fonts/nasalization-rg.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}