body,
html {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.5em;
  margin: 0 auto;
}
.slider {
  background: url("../img/slider1.jpg") no-repeat center center / cover;
  width: 100%;
  padding-bottom: 33%;
}
